<md-dialog >
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="uk-grid">
                    <!-- image -->
                    <div class="uk-width-1-1\@l">
                        <form>
                            <div>
                                <h4 style="text-align: center;display: inline">Sigin Up</h4>
                                <md-button class="md-icon-button uk-align-right" ng-click="cancel()" style="display: inline-block;">
                                    <md-icon uk-icon="close" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </div>
                            <hr class="colorgraph">

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input class="uk-input uk-form-width-large" type="text" placeholder="Enter First name">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input class="uk-input uk-form-width-large" type="text" placeholder="Enter Last name">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input uk-form-width-large" type="text" placeholder="Enter Password">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input uk-form-width-large" type="text" placeholder="Re-Enter Password">
                                </div>
                            </div>


                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input class="uk-input uk-form-width-large" type="text" placeholder="Enter Your Email Address">
                                </div>
                            </div>


                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input uk-form-width-large" type="text" placeholder="Re-Enter Password">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                                    <input class="uk-input uk-form-width-large" type="text" placeholder="Enter Your Phone Number">
                                </div>
                            </div>

                            <hr class="colorgraph">

                            <button class=" uk-align-center uk-button uk-button-primary" type="button">sign up
                            </button>

                        </form>
                    </div>

                </div>
            </div>
        </md-dialog-content>
    </form>

</md-dialog>
